#container {
  font-family: var(--FONT-STACK-BASE);
  font-size: var(--FONT-SIZE-SM);
  flex: 1 1 auto;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  height: inherit;
  align-items: stretch;
  flex-wrap: wrap;
}

::slotted(*:not(:first-of-type))::before {
  opacity: var(--OPACITY-50);
  padding: 0 4px;
  content: ">";
  transform: scaleX(0.5);
}

:host([collapsed]) ::slotted(*:not(:first-child):not(:nth-last-child(2))) {
  display: none;
}

:host([collapsed]) ::slotted(#ellipsis) {
  display: block;
}
