li {
  flex: 0 1 auto;
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

li:before {
  opacity: var(--OPACITY-50);
  padding: 0 4px;
  content: ">";
  transform: scaleX(0.5);
}

li > * {
  text-overflow: ellipsis;
  color: inherit;
  text-decoration: none;
}
li:link:hover {
  text-decoration: underline;
}

li:first-child:before {
  content: none;
}
